<div class="col-md text-md-center">
    <ul class="social list-unstyled">
        <li><a href="#"><span class="icon-instagram"></span></a></li>
        <li><a href="#"><span class="icon-facebook"></span></a></li>
    </ul>
    <p class=""><a href="#" class="btn btn-tertiary">Nous contacter</a></p>
    <form action="#" class="subscribe">
        <input type="text" class="form-control" placeholder="Entrer votre e-mail">
        <input type="submit" class="btn btn-submit" value="Envoyer">
    </form>
</div>