@{
    ViewBag.MenuReportId = "MenuReportId" + @ViewBag.MenuReportIndex;
}



<div class="row">
    <div class="col-md-12">
        <ul id="@ViewBag.MenuReportId" class="row mb-3 hb-ul-cl"></ul>
    </div>
</div>