
@{

    ViewBag.MenuBarId = "MenuBarId" + @ViewBag.MenuBarNumber;
}


<div id="HomeReportId" class="row mb-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="panel-title">@ViewBag.HomeTitle</h5>
            </div>
            <div class="card-body">
                <div id="@ViewBag.HomeRowId" class="row">
                    <div class="col-8">
                        <p class="font-weight-normal" style="text-align: justify;font-size: 2.5rem;">@ViewBag.HomeIntro</p>
                    </div>
                    <div class="col-4">
                        <img src="~/Images/Background/@ViewBag.ImageName" class="rounded float-right" style="width:80%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



















