@{
    ViewBag.Title = "Home Page";
    ViewBag.TitleReportId = @ViewBag.Pattern + "TitleReportId";
}


<div id="CoverReportId">
    <img src="~/Images/Background/PageGarde.jpg" style="width:100%;margin-top:50%">
    <div style="color:#FAD61A">
        <p></p>
        <p></p>
        <p></p>
        <div style="width:100%;position: absolute;top:50%;left:50%;transform:translate(-50%,-50%);text-align:center;">
            <div id="CoverTitleId" style="font-size:250%;">
                <h1>Trafic horaire</h1>
            </div>
            <p></p>
            <div style="font-size:250%;">
                <h2>Direction des Opérations</h2>
            </div>
            <p></p>
            <div id="CoverDateId" style="font-size:250%;">
                <h3>Le 01/01/2020</h3>
            </div>

        </div>
        
    </div>
</div>




