<div class="form-group row">
    <label for="@ViewBag.Id" class="col-2 col-form-label">@ViewBag.Label</label>
    <div class="col-sm-6">
        <input class="form-control" type="date" value="@DateTime.Now" id="@ViewBag.Id">
    </div>
</div>