@{
    ViewBag.ParentId = @ViewBag.Id + "Parent";
}

<div id="@ViewBag.ParentId" class="form-group row mb-1">
    <input id="@ViewBag.Id" title="@ViewBag.Label" type="file" class="form-control" name="ProfilImgUploadedFile" multiple>
</div>
