@{
    
}



<div class="row mb-3 intro-report">
    <div class="col-md-12 intro-container">
        <div class="card introh-card">
            <div class="card-body intro-card-body">
                <div class="row">
                    <div class="col-8 introh-desc-container">
                        <h4 class="intro-title">@ViewBag.IntroTitle</h4>
                        <p class="intro-description">@ViewBag.Description</p>
                    </div>
                    <div class="col-4 intro-img-container">
                        <img src="~/Images/Background/@ViewBag.ImageName">
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

