@{
    ViewBag.IntroLiId = @ViewBag.Pattern + "-li-id";
}

<li id="@ViewBag.IntroLiId" style="display:flex">
    <i class="fas fa-check gc-c1-cl" style="margin-right: 4px;"></i>
    <p class="feat-desc-cl" >@ViewBag.LiContent</p>    
</li>

