@{
//ViewBag.CanevasId = @ViewBag.Pattern + "CanevasId";
}
<div class="chart-area">
    <p id="" height="200">Trafic moyen journalier : 100 v/h</p>
    <p id="" height="200">Espèce : 100 v/h</p>
    <p id="" height="200">Carte : 100 v/h</p>
    <p id="" height="200">Télépéage : 100 v/h</p>
</div>
