@{
    ViewBag.ReportId = @ViewBag.Pattern + "TableReportId";
    ViewBag.TableId = @ViewBag.Pattern + "TableId";
}
<div id="@ViewBag.ReportId" >  
    <table id="@ViewBag.TableId" class="display responsive nowrap" cellspacing="0">                       
    </table>
</div>