<div class="form-group row">
    <label for="@ViewBag.Id" class="col-sm-2 col-form-label">@ViewBag.Label</label>
    <div class="col-sm-6">
        <input type="text" class="form-control" id="@ViewBag.Id">
    </div>
</div>