<nav id="sidebar" class="sidebar-wrapper ls-report-cl gc-bgc2-cl" style="display: @ViewBag.DisplayOnLogin;">
    <div class="sidebar-content"">
        <div class="sidebar-brand">
            <a></a>
            <div id="close-sidebar">
                <i class="fas fa-times"></i>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="/Project/ProjectIndex" class="lb-icone-cl gc-c1-cl">
                        <i class="fa fa-home"></i>
                        <span>Accueil</span>
                    </a>
                </li>
                <li>
                    <a href="/Project/ProjectIndex" class="lb-icone-cl gc-c1-cl">
                        <i class="fas fa-tachometer-alt"></i>
                        <span>Tableau de bord</span>
                    </a>
                </li>
                <li>
                    <a href="/Project/ProjectIndex" class="lb-icone-cl gc-c1-cl">
                        <i class="far fa-file-archive"></i>
                        <span>Pages</span>
                    </a>
                </li>
                <li>
                    <a href="/Project/ProjectIndex" class="lb-icone-cl gc-c1-cl">
                        <i class="fa fa-user"></i>
                        <span>Utilisateur</span>
                    </a>
                </li>
                <li>
                    <a href="/Project/ProjectIndex" class="lb-icone-cl gc-c1-cl">
                        <i class="fa fa-th-large"></i>
                        <span>Template</span>
                    </a>
                </li>
                <li>
                    <a href="/Project/ProjectIndex" class="lb-icone-cl gc-c1-cl">
                        <i class="fa fa-puzzle-piece"></i>
                        <span>Composants</span>
                    </a>
                </li>
                <li>
                    <a href="/Project/ProjectIndex" class="lb-icone-cl gc-c1-cl">
                        <i class="fa fa-pencil-square-o"></i>
                        <span>Formulaires</span>
                    </a>
                </li>
                <li>
                    <a href="/Project/ProjectIndex" class="lb-icone-cl gc-c1-cl">
                        <i class="fa fa-table"></i>
                        <span>Tables</span>
                    </a>
                </li>
                <li>
                    <a href="/Project/ProjectIndex" class="lb-icone-cl gc-c1-cl">
                        <i class="fa fa-bar-chart"></i>
                        <span>Graphiques</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

