/*---------------account----------------------------*/

.acc-pf {
    padding-left: 10%;
    padding-right: 10%;
}
/*profil-personal-data*/
.acc-pf-fl {
    font-weight: 500;
    float: left;
}

.acc-pf-fr {
    float: right;
    font-weight: 300;
    color: #98a6ad !important;
}
.acc-pr-img-cl {
    border-radius: 4rem;
}
