table.dataTable > tbody > tr.child ul {
    width: 100%;
}

/*------------------------datatable-----------------------*/

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: #ffffff;
    height: 52px;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd:hover {
    background-color: #f9f9f9;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 4px 2px;
}

table.dataTable tbody tr {
    height: 48px;
}

.dt-trp-chat-cl {
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.dt-trp-cl {
    /*margin-left: 2rem;
    margin-right: 2rem;*/
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.dt-cb-cl {
    padding-top: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1.25rem;
}

.dt-cb-fr-cl {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}


.dt-cd-fr-cl {
    padding-bottom: 0px;
}

.dt-trp-sec-cl {
    margin-left: 2rem;
    margin-right: 2rem;
}

.dt-btn-cl {
    background-color: Transparent;
    border: none;
}

.dt-btn-cl {
    /*float: right;*/
    margin-left: 10px;
    font-size: 12px;
    background-color: transparent;
    border: 1px solid #ced4da;
    padding: .375rem .75rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.dt-icon-cl {
    color: #000000;
    font-size: 14px;
    visibility: visible;
}

.dt-icon-sm-cl {
    color: #000000;
    visibility: visible;
}

.dt-icon-hd-cl {
    color: #000000;
    font-size: 2em;
    visibility: hidden;
    font-size: 0rem;
}

.dt-order-cl {
    visibility: visible;
}

.dt-order-hd-cl {
    visibility: hidden;
}

table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before {
    /*visibility: hidden;*/
}

.dt-tl-cl {
    /*color: #33353f;*/
    color: #006583;
    font-size: 18px;
    /*font-weight: 500;*/
    font-weight: bold;
    line-height: 20px;
    padding: 0;
    text-transform: none;
}

.dt-tl-sec-cl {
    color: #33353f;
    font-size: 14px;
    font-weight: bold;
}

.dt-ch-cl {
    border-bottom-color: #e5e9f2;
    line-height: 30px;
    align-self: center;
    width: 100%;
    padding: 0px 4px;
    display: flex;
    align-items: center;
    padding: 1rem 1.25rem;
    /*border-bottom: none*/
}

.dt-hl-cl:hover {
    text-decoration: underline;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

@media (max-width: 400px) {
    td:before {
        padding-right: 0px;
    }

    .card-body {
        padding: 0.4rem;
    }

    .panel-title {
        font-size: 13px;
        line-height: 18px;
    }
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    tr {
        border: 1px solid #ccc;
    }
}





table {
    clear: both;
    width: 100%;
    border-radius: 3px;
    border-collapse: collapse;
}

td {
    height: 48px;
    vertical-align: middle;
}



td.normal {
}

td.today {
    font-weight: 700;
    font-size: 1.5em;
}

thead td {
    border: none;
    text-transform: uppercase;
    font-size: 1.5em;
}

/*.custom-radio .custom-control-label::before {
    background-color: #28a745;
}

.custom-control-label::after {
    background-color: white;
}*/

/*#btnLeft:focus {
    width: 70px;
    height: 74px;
    text-decoration: line-through;
}*/