/*---------------------------------Form--fr----------*/

.fr-btn-cl {
    /*font-size: 0.7rem;
    color: white;
    background-color: black;
    border-color: black;
    float: right;
    margin-left: 10px;*/
    font-size: 12px;
    background-color: transparent;
    border: 1px solid #ced4da;
    padding: .375rem .75rem;
    line-height: 1.5;
    border-radius: .25rem;
    margin-right: 1.1rem;
    /*margin-bottom: 1.1rem;*/
}



@media (max-width: 400px) {
    .myform-container {
        padding-left: 5px;
        max-width: 320px;
    }

    .myform-tarea {
        height: 100px;
    }
}
