.gc-c0-cl {
    color: #D1D1D6
}

.gc-bgc1-cl {
    background-color: #006583
}
.gc-bc1-cl {
    border-color: #006583
}
.gc-c1-cl {
    color: #006583
}

.gc-bgc2-cl {
    background-color: #FFD511
}

.gc-bc2-cl {
    border-color: #FFD511
}

.gc-c2-cl {
    color: #FFD511
}

.gc-brc1-cl {
    border-color: #006583
}

.gc-c3-cl {
    color: #28a745
}

.gc-bc3-cl {
    border-color: #28a745
}

.gc-c4-cl {
    color: #fe1200
}

.gc-bc4-cl {
    border-color: #fe1200
}
